[submodule "main/lib/libj1939"]
	path = main/lib/libj1939
	url = https://github.com/paoloteti/libj1939.git
[submodule "components/lvgl/lvgl"]
	path = components/lvgl/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "components/minmea/minmea"]
	path = components/minmea/minmea
	url = https://github.com/kosma/minmea.git
[submodule "components/pubsub-c/pubsub-c"]
	path = components/pubsub-c/pubsub-c
	url = https://github.com/jaracil/pubsub-c.git
